* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html {
    width: 100%;
    margin: 0px;
    padding: 0px 0px;
}

body {
    margin: 0;
}

/* NAV */

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

nav {
    display: flex;
    height:100px;;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10.5%;
}

.menu {
    display: none;
}

.getstarted {
    border: none;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    background: #F3603B;
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    cursor: pointer;
}

.getstarted:hover {
    transform: scale(1.07);
    transition: 0.5s;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.50);
}

.nav60 {
    display: flex;
    justify-content: center;
}

.ulNav {
    display: flex;
    list-style: none;
    color: #242E52;
}

.ulNav li {
    padding: 10px;
}

.ulNav li:hover {
    color: #242e526e
}

.ulNav a {
    text-decoration: none;
    color: #242E52;
}

/* ----------------------------------------------------------------------------------------------------------------------*/

/* MAIN SECTION1 */ 

.section1 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content:space-evenly;
    margin: 0px 10.5%;
}

.container1Section1 {
    display: flex;
    max-width:500px;
    width: auto;
    flex-direction: column;
}

.container1Section1 h1 {
    font-weight: 700;
    font-size: 56px;
    color: #232C50;
}

.container1Section1 p {
    color: black;
    line-height: 157.1%;
    font-size: 16.5px;
    width: auto;
    max-width: 350px;
    font-weight: 500;
    margin: 20px 0px;
}

.containerAside1 {
    width: auto;
    min-width: 500px;
}

    .imagen {
    max-width: 90%;
    width: 500px;
}

/*---------------------------------------------------------------------------------------------------------------*/

/* SECTION2 */

.section2 {
    margin: 0px 10.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    align-items: flex-start;
}

.container1Section2 {
    display: flex;
    width:450px;
    flex-direction: column;
    justify-content: center;
}

.container1Section2 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
    color: #232851;
    margin-bottom: 30px;
    text-align: left;
}

.container1Section2 p {
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
    color: black;
    max-width: 337px;
    width: auto;
    text-align: left;
}

.container2Section2 {
    display: flex;
    width:500px;
    margin-left: 100px;
}

.aside123 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.unodostres {
    margin: 0px 25px 0 0;
}

.h4yNumero {
    display: flex;
    align-items: center;
}

.h4yNumero h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #323851;
    letter-spacing: -0.015em;
    margin-bottom: 15px;
    margin-left: -70px
}


.h4yNumero .uno {
    position: relative;
    right: 100px;
}

.dos {
    margin: 160px 0px;
}

.botonesunodostres {
    width: 69px;
    height: 43px;
    background: #F3603B;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.containerh4 {
    margin-bottom: 60px;
}


.containerh4 p {
    color: #B3B2B7;
    font-weight: 500;
    font-size: 16.2px;
    line-height: 26px;
    letter-spacing: -0.01em;
}

/*---------------------------------------------------------------------------------------------------------------*/

/* SECTION3 */

.section3 {
    margin-top: 100px;
}

.containerTestimonios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.containerTestimonios h2 {
    color: #242E53;
    font-weight: 700;
    font-size: 39.2px;
    line-height: 156%;
}

.containerArticles {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: 
}

.containerArticles article {
    margin-top: 20px;
}

.testimonios {
    width: 445px ;
    min-width: 270px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonios img {
    height: 70px;
    width: 70px;
}

.testimonios h3 {
    margin: 20px 0px;
    font-weight: 700;
    font-size: 16.px;
    line-height: 156%;
    color: #3F4868;
}

.testimonios p {
    color: #B9B9C1;
    text-align: center;
}

.buttonTestimonios {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

/*---------------------------------------------------------------------------------------------------------------*/

/* FOOTER1 */

.footer1 {
    min-height: 224px;
    max-height: auto;
    background-color: #F3613C;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-image: url(../imagenes/bg-simplify-section-desktop.svg);
}

.div1footer1 {
    justify-content: flex-start;
    width: 50%;
}

.div1footer1 h2 {

}

.div1footer1 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: white;
    max-width: 272px;
}

.div2footer1 {
    width: 50%;
    max-width: 430px;
    display: flex;
    justify-content: flex-end;
}

.div2footer1 button {

}

.getstartedblanco {
    border: none;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    background: #ffffff;
    color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    cursor: pointer;
}

.getstartedblanco:hover {
    transform: scale(1.07);
    transition: 0.5s;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.50);
}


/*---------------------------------------------------------------------------------------------------------------*/

/* FOOTER2 */

.footer2 {
    height: auto;
    min-height: 247px;
    background: #1E1E26;
}

.containerFooter2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    min-height: 247px;
}


.logofooter {
    margin-bottom: 87px;
}

.divUlFooter {
    color: white;
    display: flex;
    margin-left: 20px;
}

.divUlFooter ul {
    list-style: none;
    width: 25vw;
}

.divUlFooter ul li {
    padding: 12px 0px;
    width: fit-content;
}

.divUlFooter ul a {
    width: fit-content;
}

.divUlFooter ul li:hover {
    color: #F3613C;
}

.divUlFooter ul a {
    text-decoration: none;
    color: white;
}

.divFormFooter input {
    border-radius: 50px;
    background: #ffffff;
    width: 201px;
    height: 44px;
    border: none;
    padding-left: 10px;
}

.divFormFooter button {
    width: 63px;
    height: 42px;
    background: #F3603B;
    border-radius: 50px;
    border: none;
    color: white;
    margin-left: 5px;
    transition: 0.5s;
    cursor: pointer;
}


.divFormFooter button:hover {
    transform: scale(1.07);
    transition: 0.5s;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.50);
}

@media (max-width: 970px) {
    .section1 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .nav60, .nav20 .getstarted {
        display: none;
    }

    .menu {
        display: block;
    }

    .section2 {
        display: flex;
    }

    .container2Section2 {
        display: flex;
        align-items: center;
        margin: 0;
    }
}

@media (max-width: 829px) {
    .footer1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 0px 80px;
    }

    .div1footer1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
    }

    .containerFooter2 {
        justify-content: center;
        align-items: center;
    }

    .divFormFooter {
        width: auto;
        margin: 20px 0px 0px 0px;
    }

    .textinput {
        width: 70vw!important;
    }

    .divUlFooter {
        width: 100%;
        justify-content: space-evenly;
        margin: 0px;
    }

    .divUlFooter ul {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    .divUlFooter ul li {
        margin: 0;
        padding: 10px 0px;
    }


    .form {
        width: auto;
    }

    .containerFooter2 {
        flex-direction: column-reverse;
    }

    .logo-icons-footer {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        align-items: center;
    }

    .logofooter {
        margin-bottom: 40px;
    }

    .logos-redes {
        margin-bottom: 30px;
    }

    .logos-redes img {
        transform: scale(1.5);
        padding: 0px 10px;
    }

    .div1footer1 h2 {
        margin: 0;
        text-align: center;
    }

    .div2footer1 {
        margin: 0;
        display: flex;
        justify-content: center;
        margin: 20px 0px 0px;
    }

    .div2footer1 button {
        margin: 0;
    }
}




@media (max-width: 1325px) {
    .container2Section2 {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .h4yNumero .uno {
        right: 0;
}

    .h4yNumero h4 {
        margin: 0px;
    }
}

@media (max-width: 450px) {
    .container1Section1 h1{
        font-size: 35px;
        text-align:center;
    }
}

@media (max-width: 1198px) {
    .container1Section2 {
        align-items: center;
    }

    .container1Section2 p {
        text-align: center;
    }

    .container1Section2 h2 {
        text-align: center;
    }
}